.about {
  background-color: #0a2850;
  color: white;
  padding: 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.about__title {
  max-width: 251px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 100px 0 0 80px;
  z-index: 1;
}

.about__content {
  max-width: 660px;
  font-family: "Noto Serif", 'Times New Roman', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 119px 80px 173px 0;
  list-style-type: none;
  flex-direction: column;
  z-index: 1;
}

.about__paragraph {
  margin-bottom: 20px;
}

.about__paragraph:first-child {
  margin-top: 0;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__circle {
  height: 426px;
  width: 426px;
  background-color: #2f80ed;
  border-radius: 100%;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: 0;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
