.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  padding: 60px 80px 60px;
  margin: 0 0 0;
}

.footer__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer__logo {
  height: 39px;
  width: 105px;
}

.footer__list {
  list-style-type: none;
  margin-left: auto;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__social-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: white;
  margin: 0 0 20px;
}

.footer__list-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: white;
  margin: 0 0 16px;
}

.footer__list-item:last-child {
  margin-bottom: 0;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.footer__copyright {
  color: white;
  margin: 108px 0 0px;
}

.footer__list-item {
  transition: color 0.3s ease;
}

.footer__list-item:hover {
  color: #c1c1c1;
}
