.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin-top: 8px;
  height: 60px;
}

.form__input::placeholder {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  padding-left: 10px;
  border-radius: 4px;
}

.form__button {
  width: 100%;
  padding: 0;
  margin-bottom: 32px;
  margin-top: 32px;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
}
