.recipes {
  padding: 100px 80px 215px;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  color: white;
}

.recipes__title {
  max-width: 580px;
  margin: 0 0 auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0px 0px;
}

.recipes__videos {
  margin: 80px auto 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}

iframe {
  width: 480px;
  height: 273px;
  border-style: none;
}

.recipes__video {
  max-width: 480px;
  max-height: 273px;
  position: relative;
  align-items: center;
}

.recipes__videos-caption {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
