@import url(../normalize.css);

@import url(../blocks/page.css);

@import url(../blocks/header.css);

@import url(../blocks/nav.css);

@import url(../blocks/recipes.css);

@import url(../blocks/reservation.css);

@import url(../blocks/form.css);

@import url(../blocks/menu.css);

@import url(../blocks/card.css);

.about {
    background-color: #0a2850;
    color: white;
    padding: 100px 80px 0;
}

.about__title {
    max-width: 251px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.about__content {
    max-width: 220px;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

