@import url(../normalize.css);

@import url(../blocks/page.css);

@import url(../blocks/header.css);

@import url(../blocks/nav.css);

@import url(../blocks/recipes.css);

@import url(../blocks/reservation.css);

@import url(../blocks/form.css);

@import url(../blocks/menu.css);

@import url(../blocks/card.css);

.about {
  background-color: #0a2850;
  color: white;
  padding: 0 0 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.about__title {
  max-width: 251px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 100px 0 0 80px;
  z-index: 1;
}

.about__content {
  max-width: 660px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 119px 80px 173px 0;
  list-style-type: none;
  flex-direction: column;
  z-index: 1;
}

.about__content-paragraph {
  margin-bottom: 20px;
}

.about__content-paragraph:last-child {
  margin-bottom: 0;
}

.about__circle {
  height: 426px;
  width: 426px;
  background-color: #2f80ed;
  border-radius: 100%;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: 0;
}


.about__circle_animation_blurred {
  height: 426px;
  width: 426px;
  background-color: #2f80ed;
  border-radius: 100%;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: 0;
  animation: pulsate 1.3s ease-in-out infinite;
  transform: scale(1.1);
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  } 
}

.footer {
    background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
    padding: 60px 80px 60px;
    margin: 0 0 0;
    }

.footer__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer__logo {
    height: 39px;
    width: 105px;

}

.footer__list {
    list-style-type: none;
    margin-left: auto;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

}

.footer__social-heading {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: white;
    margin: 0 0 20px;
}

.footer__list-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: white;
  margin: 0 0 16px;
}

.footer__list-item:last-child {
  margin-bottom: 0;
}


.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.footer__copyright {
    color: white;
    margin: 108px 0 0px;
}

.footer__list-item {
  transition: color 0.3s ease;
}

.footer__list-item:hover {
  color: #C1C1C1;
}